<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button (click)="this.modalCtrl.dismiss();">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Nombre restaurante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let message of this.messages">
      <ion-label [ngClass]="{'ion-text-right': currentUser.id === message?.get('from').id}">
        <h1>{{message?.get('message')}}</h1>
        <p>{{message?.get('from')?.get('name')}} - {{message?.get('createdAt') | date:'shortTime'}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-item>
    <ion-input [(ngModel)]="newMessage" placeholder="Escribe tu mensaje..."></ion-input>
    <ion-button slot="end" color="tertiary" fill="clear" (click)="this.chatCtrl.sendChatMessage(this.deliveryId, this.newMessage); this.newMessage='';">
      <ion-icon slot="icon-only" name="send"></ion-icon>
    </ion-button>
    
  </ion-item>
</ion-footer>